<h1>Update <%= @task.description() %></h1>

<form class="" action="/tasks/<%= @task.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="description">Redescribe your task:</label>
  <input type="text" name="description" id="description">

  <button type="submit" name="button">Update</button>
</form>
