<h1>Fill in the blanks to add a person!</h1>
  <form action='/people' method='post'>
    <div class="form-group">
      <label for="first_name">first name</label>
      <input id="first_name" name="first_name" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="last_name">last name</label>
      <input id="last_name" name="last_name" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="job_title">job</label>
      <input id="job_title" name="job_title" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="company">company</label>
      <input id="company" name="company" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="address">address</label>
      <input id="address" name="address" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="phone_number">phone number</label>
      <input id="phone_number" name="phone_number" class="form-control" type="number">
    </div>

    <button type="submit" class="btn">Add</button>
  </form>
